In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Assigning attributes to a dataframe (df)
df=pd.read_csv("FuelConsumptionCO2.csv")
df.head(10)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
5,2014,ACURA,RLX,MID-SIZE,3.5,6,AS6,Z,11.9,7.7,10.0,28,230
6,2014,ACURA,TL,MID-SIZE,3.5,6,AS6,Z,11.8,8.1,10.1,28,232
7,2014,ACURA,TL AWD,MID-SIZE,3.7,6,AS6,Z,12.8,9.0,11.1,25,255
8,2014,ACURA,TL AWD,MID-SIZE,3.7,6,M6,Z,13.4,9.5,11.6,24,267
9,2014,ACURA,TSX,COMPACT,2.4,4,AS5,Z,10.6,7.5,9.2,31,212

In [41]:
df["FUELTYPE"].unique()

array(['Z', 'D', 'X', 'E'], dtype=object)

In [42]:
df["VEHICLECLASS"].unique()

array(['COMPACT', 'SUV - SMALL', 'MID-SIZE', 'MINICOMPACT', 'SUBCOMPACT',
       'TWO-SEATER', 'FULL-SIZE', 'STATION WAGON - SMALL',
       'SUV - STANDARD', 'VAN - CARGO', 'VAN - PASSENGER',
       'PICKUP TRUCK - STANDARD', 'MINIVAN', 'SPECIAL PURPOSE VEHICLE',
       'STATION WAGON - MID-SIZE', 'PICKUP TRUCK - SMALL'], dtype=object)

In [43]:
df["TRANSMISSION"].unique()

array(['AS5', 'M6', 'AV7', 'AS6', 'A6', 'AM7', 'AV8', 'AS8', 'A7', 'A8',
       'M7', 'A4', 'M5', 'AV', 'A5', 'AM6', 'AS7', 'A9', 'AS9', 'AV6',
       'AS4', 'AM5'], dtype=object)

In [44]:
df.drop(columns = ['MODELYEAR'],inplace = True)
df

,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...
1062,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1063,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,9.5,11.5,25,264
1064,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1065,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,9.3,11.3,25,260
1066,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,12.8,22,294

In [45]:
#Encoding Categorical Variable
df2 = pd.get_dummies(df,columns = ['FUELTYPE', 'VEHICLECLASS','TRANSMISSION','MAKE','MODEL'])

In [46]:
df2

,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS,FUELTYPE_D,FUELTYPE_E,FUELTYPE_X,...,MODEL_YUKON DENALI XL AWD,MODEL_YUKON XL,MODEL_YUKON XL 4WD,MODEL_Z4 sDRIVE28i,MODEL_Z4 sDRIVE35i,MODEL_Z4 sDRIVE35is,MODEL_iQ,MODEL_tC,MODEL_xB,MODEL_xD
0,2.0,4,9.9,6.7,8.5,33,196,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.4,4,11.2,7.7,9.6,29,221,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.5,4,6.0,5.8,5.9,48,136,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.5,6,12.7,9.1,11.1,25,255,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.5,6,12.1,8.7,10.6,27,244,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,3.0,6,13.4,9.8,11.8,24,271,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1063,3.2,6,13.2,9.5,11.5,25,264,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1064,3.0,6,13.4,9.8,11.8,24,271,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1065,3.2,6,12.9,9.3,11.3,25,260,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1066,3.2,6,14.9,10.2,12.8,22,294,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [51]:
# calculate the Pearson's correlation between two variables
from numpy.random import randn
from numpy.random import seed
from scipy.stats import pearsonr
df2['ENGINESIZE']
df2['CO2EMISSIONS']

pearsonr(df2['ENGINESIZE'],df2['CO2EMISSIONS'])[0]

0.8741543683958106

In [63]:
drop_ft = []


for col in df2:
    if(pearsonr(df2[col],df2['CO2EMISSIONS'])[0] > -0.5 and pearsonr(df2[col],df2['CO2EMISSIONS'])[0] < 0.5):
        drop_ft.append(col)
    
len(drop_ft)

744

In [70]:
df3 = df2.drop(drop_ft, axis = 1)

In [71]:
df3

,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2.0,4,9.9,6.7,8.5,33,196
1,2.4,4,11.2,7.7,9.6,29,221
2,1.5,4,6.0,5.8,5.9,48,136
3,3.5,6,12.7,9.1,11.1,25,255
4,3.5,6,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...
1062,3.0,6,13.4,9.8,11.8,24,271
1063,3.2,6,13.2,9.5,11.5,25,264
1064,3.0,6,13.4,9.8,11.8,24,271
1065,3.2,6,12.9,9.3,11.3,25,260
1066,3.2,6,14.9,10.2,12.8,22,294

In [72]:
# describing statiscal measures
df3.describe()

,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000

In [73]:
#find if there is any missing values of CO2 emission 
df3.isnull().sum()

ENGINESIZE                  0
CYLINDERS                   0
FUELCONSUMPTION_CITY        0
FUELCONSUMPTION_HWY         0
FUELCONSUMPTION_COMB        0
FUELCONSUMPTION_COMB_MPG    0
CO2EMISSIONS                0
dtype: int64

In [74]:
#data types of all variables (columns/attribures)
df3.dtypes

ENGINESIZE                  float64
CYLINDERS                     int64
FUELCONSUMPTION_CITY        float64
FUELCONSUMPTION_HWY         float64
FUELCONSUMPTION_COMB        float64
FUELCONSUMPTION_COMB_MPG      int64
CO2EMISSIONS                  int64
dtype: object

In [75]:
#splitting data to train the model 

#importing necessary libraries 
from sklearn import linear_model
from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_error
from sklearn.model_selection import train_test_split

In [87]:
op_ = df3.iloc[:,6]
ip_ = df3.iloc[:,0:6]

,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG
0,2.0,4,9.9,6.7,8.5,33
1,2.4,4,11.2,7.7,9.6,29
2,1.5,4,6.0,5.8,5.9,48
3,3.5,6,12.7,9.1,11.1,25
4,3.5,6,12.1,8.7,10.6,27
...,...,...,...,...,...,...
1062,3.0,6,13.4,9.8,11.8,24
1063,3.2,6,13.2,9.5,11.5,25
1064,3.0,6,13.4,9.8,11.8,24
1065,3.2,6,12.9,9.3,11.3,25
1066,3.2,6,14.9,10.2,12.8,22

In [90]:
# spliting into train and test dataset with train_test_split 
x_train, x_test, y_train, y_test = train_test_split(ip_, op_ , test_size=0.2, random_state=42)

In [92]:
# Creating the model with the train dataset 
# I use Linear Regression Model 
model = linear_model.LinearRegression()

In [93]:
# # I use training dateset to train the model y=ax+b
model.fit(x_train,y_train)

LinearRegression()

In [94]:
# # Finding coeficients A and B of the model
print(f'intercept: {model.intercept_} | slope: {model.coef_}')

intercept: 262.5721608698739 | slope: [  8.96115125   7.24023686 -13.00156667  -5.47215573  21.86697334
  -4.03446041]

In [96]:
predict = model.predict(x_test)

In [98]:
len(predict)

214

In [100]:
from math import sqrt
# # Showing metrics to check the acuracy of our model
print(f'Sum of squared error (SSE): {np.sum((predict - y_test)**2)}') 
print(f'Mean squared error (MSE): {mean_squared_error(y_test, predict)}') 
print (f'Sqrt of mean squared error (RMSE):  {sqrt(mean_squared_error(y_test, predict))}') 
print(f'R2-score: {r2_score(predict, y_test)}')

Sum of squared error (SSE): 85475.59942768741
Mean squared error (MSE): 399.41868891442715
Sqrt of mean squared error (RMSE):  19.985461938980222
R2-score: 0.8939845558709751

In [ ]:
#LINEAR REGRESSION
#RANDOMFOREST
#DECISIONTREEREGRESSOR